{% extends "admin/base.html" %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    <h1>Add Item</h1>

    <label>Name:</label>
    <input name="item_name" title="item_name" type="text" value="Nqobile">

    <label>Price:</label>
    <input name="item_price" title="item_price" type="number" value="900">

    <label>Category:</label>
    <select name="item_category" title="item_category" value="Hair">
        <option disabled selected>Select Category</option>
        <option value="Hairstyles">Hairstyles</option>
        <option value="Wigs">Wigs</option>
        <option value="Nails">Nails</option>
    </select>

    <label>Picture:</label>
    <input name="item_image" title="item_image" type="file" accept="image/*">

    <label>Description:</label>
    <textarea name="item_description" title="item_description">Hello World</textarea>

    <div class="button-row">
    <button type="submit">Add</button>
    <a href="{{ url_for('admin_catalog_route') }}"><button type="button">Cancel</button></a>
    </div>
</form>

{% endblock %}