{% extends "admin/base.html" %}

{% block content %}

<h1>Appointments({{ appointments | length }})</h1>

<div class = "page-links">
<a href="{{ url_for('admin_create_appointment_route') }}">Create Appointment</a>
<a href="{{ url_for('admin_booking_requests_route') }}">View Requests</a>
</div>

<div class="appointment-row">

{% for item in appointments %}
<div class="card appointment-card" data-appointment-id="{{ item.appointment_id }}" data-request-id="{{ item.request_id }}" data-name="{{ item.full_name }}" data-service="{{ item.selected_service }}" data-email="{{ item.email }}" data-phone="{{ item.phone }}" data-date="{{ item.date }}" data-time="{{ item.time }}" data-message="{{ item.message }}" data-created-by="{{ item.created_by }}">
    <p>{{ item.full_name }}</p>
    <p>{{ item.selected_service }}</p>
    <p>{{ item.date}} {{ item.time }}</p>
    <div class="button-row">
    <button type="button" class="appointment-complete">Completed</button>
    <button type="button" class="appointment-cancel">Canceled</button>
    </div>
</div>
{% endfor %}

</div>

<dialog id="appointment-modal">
    <p id="appointment-id-modal"></p>
    <p id="appointment-service-modal"></p>
    <p id="appointment-name-modal"></p>
    <p id="appointment-email-modal"></p>
    <p id="appointment-phone-modal"></p>
    <p id="appointment-date-time-modal"></p>
    <p id="appointment-message-modal"></p>
    <button type="button" id="appointment-close-modal">Close</button>
</dialog>

<dialog id="appointment-status-completed-modal">
    <p id="appointment-status-completed-message-modal"></p>
    <a id="appointment-complete-link" href="#"><button type="button">Complete Appointment</button></a>
    <button type="button" id="appointment-complete-cancel-modal">Cancel</button>
</dialog>

<dialog id="appointment-status-cancelled-modal">
    <p id="appointment-status-cancelled-message-modal"></p>
    <a id="appointment-cancel-link" href="#"><button type="button">Cancel Appointment</button></a>
    <button type="button" id="appointment-cancel-cancel-modal">Keep Appointment</button>
</dialog>
{% endblock %}
